@using Domain.AutoShop
@model IEnumerable<Skoda> 

@{
    ViewBag.Title = "Skoda";
}

@foreach (Skoda auto in Model)
{

    <div>
        <h3>@auto.Name</h3>
        <p>@auto.Model</p>
        <h4>@auto.Price.ToString("# руб")</h4>
       
    </div>
    <hr />
}
