@using Domain.AutoShop
@model IEnumerable<Skoda> 

@{
    ViewBag.Title = "Skoda";
}
    <div>
        <h3>Auto City Skoda:</h3>
        <table>
            <tr>
                <th>
                    Название
                </th>

                <th>
                    Модель
                </th>

                <th>
                    цена
                </th>

            </tr>
           @foreach (Skoda p in Model)
            {
                <tr>
                    <td><p>@p.Name </p></td>
                    <td><p>@p.Model</p></td>
                    <td><p>@p.Price.ToString("# руб")
                </tr>
            }
        </table>
    </div>