@model WebUl.Models.AutoSkodaIndexViewModel

@{
    ViewBag.Title = "GameStore: ваша корзина";
}

<h2>Ваша корзина</h2>
<table class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Игра</th>
            <th class="text-right">Цена</th>   
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.AutoSkoda.Lines)
        {
            <tr>
                <td class="text-center">@line.Name</td>
                <td class="text-left">@line.Model</td>
                <td class="text-right">@line.Price.ToString("# руб")</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
</div>